<footer class="footer">
    <div class="footer-content flex flex-col justify-center items-center bg-black border-t-4 text-white border-orange-400 py-7 gap-3">
        &copy; <%= new Date().getFullYear(); %> NascDavi - Built with NodeJs and MongoDB
        <div class="footer-content-social-media flex justify-around items-center gap-4 border rounded-3xl bg-gray-500 p-2 border-black">
            <a href="" class="hover:scale-105 duration-200"><img src="/img/social-media-icons/instagram.svg" alt="instagram"></a>
            <a href="" class="hover:scale-105 duration-200"><img src="/img/social-media-icons/whatsapp.svg" alt="whatsapp"></a>
            <a href="" class="hover:scale-105 duration-200"><img src="/img/social-media-icons/linkedin.svg" alt="linkedin"></a>
        </div>
    </div>
</footer>