<header class="header">

    <nav class="flex justify-around px-10 pt-10 pb-3 items-center border-b-4 border-orange-300" style="background-color: white;">
        <a href="/" class="font-bold text-2xl">Logo</a>
        <div class="flex justify-center gap-7">
            <a href="#" class="hover:scale-105 duration-200 nav-link hover:text-orange-300">Home</a>
            <a href="#" class="hover:scale-105 duration-200 nav-link hover:text-orange-300">About</a>
            <a href="#" class="hover:scale-105 duration-200 nav-link hover:text-orange-300">Contact</a>
        </div>
        <button type="button" class="flex flex-row gap-1 hover:scale-105 duration-200 hover:text-orange-300">
            Search
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>                  
        </button>
    </nav>

    <div class="container mx-auto flex justify-center" style="background-color: #848484;">
        <div class="dropdown-menu border border-gray-800 rounded-sm">
            <p class="border-sm bg-gray-600 px-3 font-bold hover:scale-105 hover:text-orange-300">Menu</p>
            <div class="dropdown-content text-center">
                <p class="hover:scale-105 hover:text-orange-300 duration-200">Home</p>
                <p class="hover:scale-105 hover:text-orange-300 duration-200">About</p>
                <p class="hover:scale-105 hover:text-orange-300 duration-200">Contact</p>
            </div>
        </div>
    </div>

</header>