<div class="author py-10 flex flex-col sm:gap-7 md:gap-10 lg:gap-12 xl:gap-14">

    <div class="author-greet flex flex-col items-center">
        <h1 class="text-5xl">Hi, I'm Davi</h1>
        <h2 class="text-3xl">Web Developer, a free soul</h2>
    </div>
    
    <div class="author-photo flex justify-center">
        <img src="https://picsum.photos/500/250" alt="greeting-photo" class="rounded-md">
    </div>

</div>